/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/
.idea/
.idea/*
.idea/*.xml
.idea/encoding.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml.xml
.idea/*.iml
.idea/sfGitCollab.iml
/composer.phar
.idea/workspace.xml
/.idea/workspace.xml
**/.idea/workspace.xml